#container{

display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
gap: 10px;
padding: 20px;

}

#employers{

display: flex;
flex-direction: column;
border: 1px solid rgb(99, 99, 108);
border-radius: 15%;
padding: 20px;
align-items: center;
width: 500px;
background-color: azure;
color: rgb(13, 83, 83);
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;



}

#numberPeople{

display: flex;
justify-content: center;
font-size: 2em;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
color: azure;
}

h1{

    
display: flex;
justify-content: center;
font-size: 4em;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
color: azure;


}

body{

    background-color: aqua;
}

#links{

   display: flex;
   flex-direction: row;
    text-decoration:none;
    justify-content: space-between;
    background-color: azure;
    padding: 20px;

}

a{

    
    display: flex;
   
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(13, 83, 83);

}
